<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <%- include("partials/navbar.ejs") %>
  </header>
  <% if (username){ %>

    <%- include("partials/newFileForm.ejs") %>

    <div class="folder-list">
      <% if(userFolders && userFolders.length > 0){ %>
      <% userFolders.forEach(item =>{ %>
      <a href=<%=`/folder/${item.id}` %> ><%= item.name %></a>
      <% }) %>
      <% } %>
    </div>
    <% } %>
</body>

</html>
